# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Old renamed folders
*_OLD/

# Vim
*~
*.sw[p_]

# IntelliJ IDEA
*.idea

# Sublime Text
*.sublime-project
*.sublime-workspace

# Ruby Gem
*.gem
.bundle
Gemfile.lock
**/vendor/bundle

# Node.js and NPM
node_modules
npm-debug.log*
package-lock.json
codekit-config.json

# macOS
.DS_Store