/* ---------- إعدادات عامة ---------- */
body {
  font-family: 'Tajawal', 'Cairo', sans-serif !important;
  line-height: 1.8;
  font-size: 1rem;
  color: #333;
}

/* ---------- ألوان رئيسية ---------- */
a {
  color: #d67e2c;
}

a:hover {
  color: #a85b14;
}

/* ---------- اتجاه RTL ---------- */
html[lang="ar"] {
  direction: rtl !important;
  text-align: right;
}

* {
  direction: rtl !important;
  text-align: right;
}

/* عناصر Flex عكس الاتجاه */
nav, .site-nav, .greedy-nav, .nav__list, .author__urls {
  flex-direction: row-reverse !important;
}

/* قائمة */
ul, ol, li {
  text-align: right;
}

/* عناوين */
h1, h2, h3, h4, h5, h6, p {
  text-align: right;
}
/* داخل _custom.scss أو _general.scss */
.icon-only-mobile {
  display: inline;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
