/* ---------- إعدادات عامة ---------- */
body {
  font-family: 'Tajawal', 'Cairo', sans-serif !important;
  line-height: 1.8;
  font-size: 1rem;
  color: #333;
}

/* ---------- ألوان رئيسية ---------- */
a {
  color: #d67e2c;
}

a:hover {
  color: #a85b14;
}